
.contact {
   text-align: left;
   padding-top: 195px;
   min-height: 90vh;
}

.contact li {
   list-style-type: none;
}

.content {
   padding-top: 150px;
}

.content h3 {
   font-size: 32px;
}

.content a {
   font-size: 20px;
}

.icons {
   color: #000;
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;
}

.img {
   max-width: 512px;
   display: block;
   margin-left: auto;
   margin-top: -300px;
}

@media (max-width: 850px) {

.content {
   padding-top: 50px;
   margin-left: 10px;
   width: 100%;
}

.img {
   margin-left: 5%;
   margin-top: 0;
}

}