.middle.services-page {
    background-image: url(../asset/services-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
 }

 .middle-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 }

.prg1 {
   color: #000;
   padding-top: 50px;
   font-size: 18px;
}

h1 {
   color: #000;
   font-size: 28px;
   font-weight: bold;
}

 .middle-text p {
    font-size: 21px;
    animation: transitionIn 1s;
 }

 .middle-text > p:first-child{
    margin-bottom: 10px;
 }

 .middle-text .btn {
    background-color: #E84D3D;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 60px;
    margin-top: 80px;
    margin-left: 0%;
 }